.product-carousel {
    width: 80%;
    margin: 0 auto;
}

.product-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
}

.product-card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-info h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.product-info p {
    margin: 5px 0;
}



.gap-1 {
    gap: 0.25rem;
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.fill-current {
    fill: currentColor;
}

.text-yellow-400 {
    color: #fbbf24; /* Tailwind yellow-400 */
}
